<launch>
    <group ns="agent1">
        <arg name="drone_name" value="uav1" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="$(arg drone_name)" />
            <arg name="tf_prefix" value="$(arg drone_name)" />
            <arg name="x" value="0.0" />
            <arg name="y" value="0.0" />
        </include>
        <node name="$(arg drone_name)" pkg="hectorquad2" type="quadrotor_driver.py" output="screen" args="agent1" />
    </group>

    <group ns="agent2">
        <arg name="drone_name" value="uav2" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="$(arg drone_name)" />
            <arg name="tf_prefix" value="$(arg drone_name)" />
            <arg name="x" value="+10.0" />
            <arg name="y" value="-10.0" />
        </include>
        <node name="$(arg drone_name)" pkg="hectorquad2" type="quadrotor_driver.py" output="screen" args="agent2 agent1 agent3 agent4 agent5" />
    </group>

    <group ns="agent3">
        <arg name="drone_name" value="uav3" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="$(arg drone_name)" />
            <arg name="tf_prefix" value="$(arg drone_name)" />
            <arg name="x" value="+10.0" />
            <arg name="y" value="+10.0" />
        </include>
        <node name="$(arg drone_name)" pkg="hectorquad2" type="quadrotor_driver.py" output="screen" args="agent3 agent1 agent2 agent4 agent5" />
    </group>

    <group ns="agent4">
        <arg name="drone_name" value="uav4" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="$(arg drone_name)" />
            <arg name="tf_prefix" value="$(arg drone_name)" />
            <arg name="x" value="-10.0" />
            <arg name="y" value="+10.0" />
        </include>
        <node name="$(arg drone_name)" pkg="hectorquad2" type="quadrotor_driver.py" output="screen" args="agent4 agent1 agent2 agent3 agent5" />
    </group>


    <group ns="agent5">
        <arg name="drone_name" value="uav5" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="$(arg drone_name)" />
            <arg name="tf_prefix" value="$(arg drone_name)" />
            <arg name="x" value="-10.0" />
            <arg name="y" value="-10.0" />
        </include>
        <node name="$(arg drone_name)" pkg="hectorquad2" type="quadrotor_driver.py" output="screen" args="agent5 agent1 agent2 agent3 agent4" />
    </group>

</launch>
