<launch>
    <node name="gazebo" pkg="gazebo_ros" type="gazebo" output="screen" required="true"/>
    <group ns="uav1">
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav1" />
            <arg name="tf_prefix" value="uav1" />
            <arg name="x" value="0.0" />
            <arg name="y" value="0.0" />
        </include>
        <node name="master" pkg="hectorquad2" type="master_test.py" output="screen" args="" />
    </group>
</launch>