<launch>
    <group ns="uav5">
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav5" />
            <arg name="tf_prefix" value="uav5" />
            <arg name="x" value="3.0" />
            <arg name="y" value="-7.0" />
        </include>
        <node name="slave" pkg="hectorquad2" type="slave_driver.py" output="screen" args="uav1 uav2 uav3 uav4" />
    </group>
</launch>