<launch>
    <group ns="uav2">
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav2" />
            <arg name="tf_prefix" value="uav2" />
            <arg name="x" value="3.0" />
            <arg name="y" value="3.0" />
        </include>
        <node name="slave" pkg="hectorquad2" type="slave_driver.py" output="screen" args="uav3" />
    </group>
</launch>